*{
    margin: 0;
}
  
body{
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/pexels-kai-pilger-1341279.webp);
    background-size: cover;
    background-position: center center;
    filter: saturate(125%);
}
  
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 500px;
    border-radius: 60px;
    background: #180c24;
    display: flex;
    justify-content: space-between;
}
  
h1{
    margin: 80px 0 0 50px;
    padding: 30px;
    border-radius: 31px;
    font-size: 2.6rem;
    color: #ffffff;
    text-align: left;
}
  
.area-login{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    min-width: 400px;
    height: 450px;
    border-radius: 31px;
    background: #180c24;
    box-shadow: inset 5px 5px 12px #0a050e,
      inset -5px -5px 12px #26133a;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
  
h2{
    margin-top: 30px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
}
  
.container img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    object-fit: cover;
    border-radius: 0 0 0 60px;
    z-index: -1;
}
  
.area-login label{
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}
  
.area-login label input{
    background-color: #ffffff;
    justify-content: center;
    margin: 0 10%;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}
  
.area-login legend{
    color: #fdfdfd;
    font-weight: 700;
    margin: 7% 0;
}
  
.area-login h3{
    margin-left: 10%;
}
  
#btn{
    margin: 5% 10%;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    padding: 13px;
    border: 0;
    font-weight: 800;
    font-size: 17px;
    position: relative;
    width: 80%;
    cursor: pointer;
}
  
  
#user{
    padding: 15px;
}
  
#password{
    padding: 15px;
}
  
  
  
  
  /* #region responsive */
  
@media (min-width: 1500px) {
.container {
    width: 1200px;
    height: 600px;
}
}
  
@media (max-width: 1080px) {
.container img {
    display: none;
}
  
.container {
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 700px;
}
  
.area-login {
    margin: 0;
    min-height: 500px;
    min-width: 600px;
    top: 30%;
}
  
h1 {
    margin-top: 30px;
    margin-left: 5px;
    padding: 0;
}
}
  
@media (max-width: 880px) {
.container img {
    display: none;
}
  
.container {
    flex-direction: column;
    align-items: center;
    height: 650px;
    max-width: 500px;
}
  
.area-login {
    margin: 0;
    min-height: 300px;
    min-width: 400px;
    top: 27%;
}
  
h1 {
    margin-top: 30px;
    font-size: 2rem;
    margin-left: 15px;
}
}
  
@media (max-width: 580px) {
.container img {
    display: none;
}
  
.container {
    flex-direction: column;
    align-items: center;
    height: 550px;
    max-width: 400px;
    border-radius: 40px;
}
  
.area-login {
    margin: 0;
    min-height: 200px;
    min-width: 350px;
    top: 32%;
    height: 400px;
}
  
h1 {
    margin-top: 30px;
    margin-left: 20px;
    font-size: 1.7rem;
}
}
  
@media (max-width: 450px) {
.container img {
    display: none;
}
  
.container {
    flex-direction: column;
    align-items: center;
    height: 520px;
    width: 350px;
    border-radius: 30px;
}
  
.area-login {
    margin: 0;
    min-width: 300px;
    top: 29%;
    height: 370px;
}
  
h1{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 1.5rem;
}

}
  
  
  /* #endregion responsive */